body {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
}
.inicio{
    background-color: lightblue;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.navegacion {
    background-color: lightgreen;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
}
.noticias{
    background-color: lightyellow;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
}


.noticiasgenerales {
background-color: white;
border: 1px solid black;
padding: 10px;
margin-bottom: 10px;

}
#deportes{
    margin-bottom: 10px;
    background-color: rgb(236, 94, 78);

}

#Entretenimiento{
    margin-bottom: 10px;
    background-color:salmon ;
}


.barralateral {
    background-color: lightpink;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
}

.piedepagina {
    background-color: lightseagreen;
    height: 50px;
    pad: 10px;
    margin-top: 10px;
}
